*{
    margin: 0px;
    padding: 0px;
}

.box,.container{
    border: 1px solid black;
}
.container{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "header header header"
    "menu   main   aside"
    "footer footer footer"
    ;
    grid-template-rows: 100px 500px 200px;
    grid-template-columns: 25% 50% 25%;
}
#box-1{
    background-color: purple;
    grid-area: header;
}
#box-2{
    background-color: brown;
    grid-area: menu;
}
#box-3{
    background-color: gold;
    grid-area: main;
}
#box-4{
    background-color: rgb(33, 70, 112);
    grid-area: aside;
}
#box-5{
    background-color: aqua;
    grid-area: footer;
}
